* {
    margin: 0rem auto;
}

@import 'node_modules/@textabledev/langs-flags-list/lang-flags.css';

.lang-icon {
  background-image: url('node_modules/@textabledev/langs-flags-list/lang-flags.png');
}


@import '@fortawesome/fontawesome-free/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}